{% extends "index.html" %}
{% block content %}

<!--Morris.js [ OPTIONAL ]-->
<link href="/static/assets/plugins/morris-js/morris.min.css" rel="stylesheet">
<script src="/static/assets/plugins/morris-js/morris.min.js"></script>
<script src="/static/assets/plugins/morris-js/raphael-js/raphael.min.js"></script>

<!--Bootstrap Table [ OPTIONAL ]-->
<script src="/static/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/tableExport.js"></script>
<link href="/static/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">


<!--Generic Javascript Function [ OPTIONAL ]-->
<script src="/static/assets/js/generic_js.js"></script>





<script>


var all_types;
var all_campaigns;


// ------------------------------------------------
//--  Get all types
// ------------------------------------------------
ajaxMaskUI({
  url: "get_all_nodes_types",
  type: "GET",
  maskUI: 'rgba(176,176,176,0.7)'

}).fail(function (jqXHR, textStatus, errorThrown) {
  console.log('error ' + textStatus);

}).done(function (data, textStatus, jqXHR) {
  all_types = data;
});

// ------------------------------------------------
//--  Get campaigns JSON
// ------------------------------------------------
ajaxMaskUI({
  url: "get_all_campaigns",
  type: "GET",
  maskUI: 'rgba(176,176,176,0.7)'

}).fail(function (jqXHR, textStatus, errorThrown) {
  console.log('error ' + textStatus);

}).done(function (data, textStatus, jqXHR) {
  all_campaigns = data;
  var campaigns = []
  for (row in all_campaigns){
    if (row != 'error'){
      campaigns.push({'campaign':row, 'state': true})
    }
  }

  // ------------------------------------------------
  //--  Intilisation campaigns table
  // ------------------------------------------------
  $(function () {
      output = '<thead><tr><th data-field="state" data-checkbox="true">ID</th>'
      output += '<th data-field="campaign" data-sortable="true">campaign</th>'
      output += '</tr></thead>'

      $('#table-campaign').html(output)

      $('#table-campaign').bootstrapTable({
          data: campaigns
      });

      $('#toolbar-campaign').find('select').change(function () {
          $('#table-campaign').bootstrapTable('refreshOptions', {
              exportDataType: $(this).val()
          });
      });
  });


  // ------------------------------------------------
  //--  When page loading, check every campaign and click on Show indicators
  // ------------------------------------------------
  //$(function () {
  //  $('#table-campaign').bootstrapTable('checkAll');
  //  click_on_show_indicators()
  //});
});






// ------------------------------------------------
//--  If click on Show Indicators, execute function click_on_show_indicators()
// ------------------------------------------------
$(function () {
  $("#show-indicators").click(function () {
    click_on_show_indicators();
  });
});



function refresh(){
  window.location.reload()
}

// ------------------------------------------------
//--  Actions when clicking on Campaign Show Graph
// ------------------------------------------------
$(function () {
  $("#campaign-show-graph").click(function () {
    var numberOfSelections = $('#table-campaign').bootstrapTable('getSelections').length;
    var selections = $('#table-campaign').bootstrapTable('getSelections')
    var parameters = "";
    for (var i = 0; i < numberOfSelections; i++){
      parameters += "campaign="+selections[i]['campaign']+'&'
      }
    parameters = parameters.slice(0, -1);

    window.location.assign("graph?"+parameters)
  });
});




// ------------------------------------------------
//--  Actions when clicking on Indicators Show Graph
// ------------------------------------------------
$(function () {
  $("#indicators-show-graph").click(function () {
    var numberOfSelections = $('#table-indicators').bootstrapTable('getSelections').length;
    var selections = $('#table-indicators').bootstrapTable('getSelections')
    var parameters = "";
    for (var i = 0; i < numberOfSelections; i++){
      parameters += "indicator="+selections[i]['id']+'&'
      }
    parameters = parameters.slice(0, -1);

    window.location.assign("graph?"+parameters)
  });
});



// ------------------------------------------------
//--  Function when clicking on Show Indicators
// ------------------------------------------------
function click_on_show_indicators()
{
    var numberOfSelections = $('#table-campaign').bootstrapTable('getSelections').length;
    var selections = $('#table-campaign').bootstrapTable('getSelections')
    var indicators_selected;



    //--  Indicators table update when clicking on Show Indicators
    // ------------------------------------------------
    $('#table-indicators').bootstrapTable('destroy');
    $('#table-indicators').html("No indicators");

    for (var i = 0; i < numberOfSelections; i++){
      campaign = selections[i]['campaign']
      ajaxMaskUI({
        url: "get_indicators_specific_campaign_for_table_view",
        type: "GET",
        data: 'campaign='+campaign,
        maskUI: 'rgba(176,176,176,0.7)',
        async: false
      }, i).fail(function (jqXHR, textStatus, errorThrown) {
        console.log('error ' + textStatus);
      }).done(function (data, textStatus, jqXHR) {
        if (i == 0){
          indicators_selected = data
        } else {
          for (row in data){
            indicators_selected.push(data[row]);
          }
        }
      });
    }

    types = []
    output = '<thead><tr><th data-field="state" data-checkbox="true">ID</th>'

    for (var row in indicators_selected){
      for (j in indicators_selected[row]){
        types.push(j)

      }
    }

    types = uniq(types)
    for (row in types){
      output += '<th data-field="'+types[row]+'" data-sortable="true">'+types[row]+'</th>'
    }

    output += '</tr></thead>'

    $('#table-indicators').html(output)

    $('#table-indicators').bootstrapTable('destroy');
    $('#table-indicators').bootstrapTable({ data: indicators_selected });

    $('#toolbar-indicators').find('select').change(function () {
      $('#table-indicators').bootstrapTable('refreshOptions', {
        exportDataType: $(this).val()
      });
    });



  //--  Bar Chart - Number of indicators by campaign when clicking on Show Indicators
  // ------------------------------------------------
  var number_of_indicator_by_type_for_specific_campaign;
  $("#morris-bar").empty();
  $("#morris-donut").empty();

  for (var i = 0; i < numberOfSelections; i++){
    ajaxMaskUI({
      url: "get_number_of_indicator_by_node_type_for_specific_campaign",
      type: "GET",
      data: 'campaign='+selections[i]['campaign'],
      maskUI: 'rgba(176,176,176,0.7)',
      async: false
    }, i).fail(function (jqXHR, textStatus, errorThrown) {
      console.log('error ' + textStatus);
    }).done(function (data, textStatus, jqXHR) {
      if (i == 0){
        number_of_indicator_by_type_for_specific_campaign = data
      } else {
          jQuery.extend(number_of_indicator_by_type_for_specific_campaign, data)
      }
    });
  }


  if (numberOfSelections > 0){

    data = []
    ykeys = []
    labels = []

    for (row in number_of_indicator_by_type_for_specific_campaign) {
      tmp = {}
      tmp['y'] = row;
      tmp[row] = number_of_indicator_by_type_for_specific_campaign[row];
      data.push(tmp)
      labels.push(row)
      ykeys.push(row)
    }

     Morris.Bar({
       element: 'morris-bar',
       data: data,
       xkey: 'y',
       ykeys: ykeys,
       labels: labels,
       barColors: colors_node_array,
       grid: false,
       resize:true,
       hideHover: 'auto'
     });
   }

   data = [];
   for (row in number_of_indicator_by_type_for_specific_campaign){
     data.push({label: row, value: number_of_indicator_by_type_for_specific_campaign[row]})
   }

   Morris.Donut({
    element: 'morris-donut',
    data: data,
    colors: colors_node_array,
    resize:true
   });

}





//-- #################################################################### -->
//--  Action - Add a node -->
//-- #################################################################### -->
$(document).on('click', '#create_indicator', function() {
  var output = "";
  for (var row in all_types) {
      output += '<option data-value="'+row+'" value="'+row+'"  />';
  }
  $('#types').html(output)

  output = "";
  for (var row in all_campaigns) {
      output += '<option data-value="'+row+'" value="'+row+'"  />';
  }
  $('#campaigns').html(output)

  if ("{{arg}}" == "campaign"){
    $('input[name="campaign"]').val(campaigns_selected[0]);
  }

  $('#modal_add_new_node').modal()
  $('#modal_add_new_node').on('show.bs.modal', function() {
    $('#create_indicator_form').bootstrapValidator('resetForm', true);
  });

  $(document).ready(function() {
    $('#create_indicator_form').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        excluded: [':disabled'],
        fields: {
          type: {
            validators: {
              notEmpty: {
                message: 'The type is required'
              }
            }
          },
          value: {
            validators: {
              notEmpty: {
                message: 'The value is required'
              }
            }
          }
        }
      })
      .on('success.form.bv', function(e) {
          e.preventDefault();
          e.stopImmediatePropagation();
          var valuesToSubmit = $(this).serialize();
          ajaxMaskUI({
            url: "create_indicator",
            type: "POST",
            data: valuesToSubmit,
            maskUI: 'rgba(176,176,176,0.7)'

          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log('error ' + textStatus);

          }).done(function (data, textStatus, jqXHR) {
            $('#modal_add_new_node').modal('hide')
            refresh();
          });
      });
  });
});


</script>



<!-- #################################################################### -->
<!-- HTML  -->
<!-- #################################################################### -->

<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">
{% include 'flash.html' %}

  <!--Page Title-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div id="page-title">
    <h1 class="page-header text-overflow">Campaigns/Investigations</h1>
  </div>

  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">


    <!--First row-->
    <!--===================================================-->
    <div class="row">

      <!-- Campaign Table ->
      <!=================================================== -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Campaigns Table</h3>
        </div>
        <div class="panel-body">
          <div id="toolbar-campaign">
            <select class="form-control">
              <option value="">Export Basic</option>
              <option value="all">Export All</option>
              <option value="selected">Export Selected</option>
            </select>
            <div id="button-toolbar-campaign">
              <button id="delete-row" class="btn btn-danger" disabled><i class="pli-cross"></i> Delete</button>
              <button id="show-indicators" class="btn btn-default"><i class="pli-cross"></i> Show Indicators</button>
              <button id="create_indicator" class="btn btn-default"><i class="pli-cross"></i> Create Indicator</button>
              <button id="campaign-show-graph" class="btn btn-default"><i class="pli-cross"></i> Show Graph</button>
            </div>
          </div>
          <table id="table-campaign" class="add-niftycheck"
             data-toolbar="#button-toolbar-campaign"
             data-show-export="true"
             data-search="true"
             data-show-refresh="true"
             data-show-toggle="true"
             data-show-columns="true"
             data-sort-name="id"
             data-page-list="[5, 10, 20, 30, 50, 100]"
             data-page-size="30"
             data-pagination="true"
             data-click-to-select="true"
             data-show-pagination-switch="true">
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Bar chart ->
      <!===================================================-->
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Indicators by campaign</h3>
          </div>
          <div class="panel-body">

            <!--Morris Bar Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-bar" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Indicators by campaign</h3>
          </div>
          <div class="panel-body">

            <!--Morris Bar Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-donut" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
    </div>


    <div class="row">
    <!-- Indicators Table ->
    <!===================================================-->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Indicators Table</h3>
      </div>
      <div class="panel-body">
        <div id="toolbar-indicators">
          <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
          </select>
          <div id="button-toolbar-indicators">
            <button id="delete-row" class="btn btn-danger" disabled><i class="pli-cross"></i> Delete</button>
            <button id="indicators-show-graph" class="btn btn-default"><i class="pli-cross"></i> Show Graph</button>
          </div>
        </div>
        <table id="table-indicators" class="add-niftycheck"
           data-toolbar="#button-toolbar-indicators"
           data-show-export="true"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-sort-name="id"
           data-page-list="[5, 10, 20, 30, 50, 100]"
           data-page-size="30"
           data-pagination="true"
           data-click-to-select="true"
           data-show-pagination-switch="true">
        </table>
      </div>
    </div>

  </div>


  </div>
  <!--===================================================-->
  <!--End page content-->


</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->





{% include "modals.html" %}

{% endblock content %}
