<!DOCTYPE html>
<html lang="en">
  <head>
		{% include 'header.html' %}
	</head>

  <body>

    <div id="container" class="cls-container">
      {% include 'flash.html' %}

      <!-- BACKGROUND IMAGE -->
      <!--===================================================-->
      <div id="bg-overlay"></div>


      <!-- LOGIN FORM -->
      <!--===================================================-->
      <div class="cls-content">
          <div class="cls-content-sm panel">
              <div class="panel-body">
                  <div class="mar-ver pad-btm">
                      <h3 class="h4 mar-no">Account Login</h3>
                      <p class="text-muted">Sign In to your account</p>
                  </div>
                  {% import "_formhelpers.html" as macros %}
                  {% call macros.render_form(form, action_url=url_for('login'), action_text='Login', class_='login-form') %}
                    {{ macros.render_field(form.username, label_visible=false, placeholder='Username', type='username') }}
                    {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
                    {{ macros.render_checkbox_field(form.remember_me, "Remember Me") }}
                  {% endcall %}
              </div>

              <div class="pad-all">
                  <a href="#" class="btn-link mar-rgt">Forgot password ?</a>
                  <a href="register" class="btn-link mar-lft">Create a new account</a>
              </div>
          </div>
      </div>
      <!--===================================================-->


    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


</body>

</html>
