<!--NAVBAR-->
<!--===================================================-->
<header id="navbar">
    <div id="navbar-container" class="boxed">

        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <div class="brand-icon psi-frog" id="psi-frog"></div>
                <div class="brand-title">
                    <span class="brand-text">Digo</span>
                </div>
            </a>
        </div>
        <!--================================-->
        <!--End brand logo & name-->


        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">

                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="ti-view-list icon-lg"></i>
                    </a>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Navigation toogle button-->


            </ul>


            <ul class="nav navbar-top-links pull-left" id="navbar_dropdown">
              <li>
                  <a href="#" data-toggle="dropdown" class="mega-dropdown-toggle">
                      <i class="ti-view-grid icon-lg"></i>
                  </a>
                  <div class="dropdown-menu mega-dropdown-menu" id="navbar_dropdown_menu">
                    <div class="clearfix">
                      <div class="col-sm-12 col-md-6">
                        <ul class="list-unstyled" id="navbar_dropdown_menu_content">
                          <li class="dropdown-header">Informations</li>
                          <li>No further information</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>



            {% if request.path == "/graph" %}
            <ul class="nav navbar-top-links pull-right">
                <li>
                    <a href="#" class="aside-toggle navbar-aside-icon">
                        <i class="pci-ver-dots"></i>
                    </a>
                </li>
            </ul>
            {% endif %}

            <ul class="nav navbar-top-links pull-right" id="navbar_dropdown1">
              <!--User dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                      <span class="pull-right">
                          <i class="ic-user"></i>
                      </span>
                      <div class="username hidden-xs">{{ current_user.username }}</div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default" id="navbar_dropdown_menu1">
                      <ul class="head-list">
                          <li>
                              <a href="/profile">
                                  <i class="demo-pli-male icon-lg icon-fw"></i> Profile
                              </a>
                          </li>
                          <li>
                              <a href="/settings">
                                  <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                              </a>
                          </li>
                      </ul>

                      <!-- Dropdown footer -->
                      <div class="pad-all text-right">
                          <a href="/logout" class="btn btn-primary">
                              <i class="demo-pli-unlock"></i> Logout
                          </a>
                      </div>
                  </div>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End user dropdown-->
            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>
<!--===================================================-->
<!--END NAVBAR-->


<script>



// ADD SLIDEDOWN ANIMATION TO DROPDOWN-MENU
  $('#navbar_dropdown').on('show.bs.dropdown', function(e){
    $('#navbar_dropdown_menu').removeClass('invisible');
    $(this).find('#navbar_dropdown_menu').first().stop(true, true).slideDown(200);
  });

  // ADD SLIDEUP ANIMATION TO DROPDOWN-MENU
  $('#navbar_dropdown').on('hide.bs.dropdown', function(e){
    $(this).find('#navbar_dropdown_menu').first().stop(true, true).slideUp(200);
  });


// ADD SLIDEDOWN ANIMATION TO DROPDOWN-MENU
  $('#navbar_dropdown1').on('show.bs.dropdown', function(e){
    $('#navbar_dropdown_menu1').removeClass('invisible');
    $(this).find('#navbar_dropdown_menu1').first().stop(true, true).slideDown(200);
  });

  // ADD SLIDEUP ANIMATION TO DROPDOWN-MENU
  $('#navbar_dropdown1').on('hide.bs.dropdown', function(e){
    $(this).find('#navbar_dropdown_menu1').first().stop(true, true).slideUp(200);
  });


</script>
