<!--NAVBAR-->
<!--===================================================-->
<header id="navbar">
    <div id="navbar-container" class="boxed">

        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="dashboard.html" class="navbar-brand">
                <img src="/static/assets/img/logo.png" alt="Nifty Logo" class="brand-icon">
                <div class="brand-title">
                    <span class="brand-text">Digo</span>
                </div>
            </a>
        </div>
        <!--================================-->
        <!--End brand logo & name-->


        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">

                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="ti-view-list icon-lg"></i>
                    </a>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Navigation toogle button-->


                <!--Mega dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="mega-dropdown">
                  <a href="#" class="mega-dropdown-toggle">
                    <i class="ti-view-grid icon-lg"></i>
                  </a>
                  <div class="dropdown-menu mega-dropdown-menu" id="navbar_dropdown_menu">
                    <div class="clearfix">
                      <div class="col-sm-12 col-md-6">
                        <ul class="list-unstyled" id="navbar_dropdown_menu_content">
                          <li class="dropdown-header">Informations</li>
                          <li>No further information</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End mega dropdown-->

            </ul>
            <ul class="nav navbar-top-links pull-right">

              <!--User dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li id="dropdown-user" class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                      <span class="pull-right">
                          <i class="demo-pli-male ic-user"></i>
                      </span>
                      <div class="username hidden-xs">Settings</div>
                  </a>


                  <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                      <ul class="head-list">
                          <li>
                              <a href="#">
                                  <i class="demo-pli-male icon-lg icon-fw"></i> Profile
                              </a>
                          </li>
                          <li>
                              <a href="/settings">
                                  <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                              </a>
                          </li>
                      </ul>

                      <!-- Dropdown footer -->
                      <div class="pad-all text-right">
                          <a href="/logout" class="btn btn-primary">
                              <i class="demo-pli-unlock"></i> Logout
                          </a>
                      </div>
                  </div>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End user dropdown-->

               {% if request.path == "/graph" %}
                <li>
                    <a href="#" class="aside-toggle navbar-aside-icon">
                        <i class="pci-ver-dots"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>
<!--===================================================-->
<!--END NAVBAR-->
