{% extends "index.html" %}
{% block content %}


<!-- #################################################################### -->
<!-- HTML  -->
<!-- #################################################################### -->

<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">
{% include 'flash.html' %}

  <!--Page Title-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div id="page-title">
    <h1 class="page-header text-overflow">Profile</h1>
  </div>

  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">


    <!--First row-->
    <!--===================================================-->
    <div class="row">

      <!-- Campaign Table ->
      <!=================================================== -->
      <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            {% import "_formhelpers.html" as macros %}
            {% call macros.render_form(form, action_url=url_for('profile'), action_text='Update', class_='profile-form', panel_footer=true) %}
              {{ macros.render_field(form.currentpassword, label_visible=false, placeholder='Current Password', type='password') }}
              {{ macros.render_field(form.newpassword, label_visible=false, placeholder='New Password', type='password') }}
              {{ macros.render_field(form.confirm, label_visible=false, placeholder='Password Confirm', type='password') }}
            {% endcall %}
        </div>
      </div>



    </div>
  </div>
</div>



{% endblock content %}
