<!DOCTYPE html>
<html lang="en">
  <head>
		{% include 'header.html' %}
	</head>

  <body>

    <div id="container" class="cls-container">
      {% include 'flash.html' %}


      <!-- REGISTRATION FORM -->
      <!--===================================================-->
      <div class="cls-content">
          <div class="cls-content-lg panel">
              <div class="panel-body">
                  <div class="mar-ver pad-btm">
                      <h3 class="h4 mar-no">Create a New Account</h3>
                      <p class="text-muted">Let's get some new Intelligence</p>
                  </div>
                  {% import "_formhelpers.html" as macros %}
                  {% call macros.render_form(form, action_url=url_for('register'), action_text='Register', class_='register-form') %}
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  {{ macros.render_field(form.username, label_visible=false, placeholder='Username', type='username') }}
                              </div>
                              <div class="form-group">
                                  {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email') }}
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
                              </div>
                              <div class="form-group">
                                {{ macros.render_field(form.confirm, label_visible=false, placeholder='Password Confirm', type='password') }}
                              </div>
                          </div>
                      </div>
                  {% endcall %}
              </div>
              <div class="pad-all">
                  Already have an account ? <a href="login" class="btn-link mar-rgt">Sign In</a>
              </div>
          </div>
      </div>
      <!--===================================================-->

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


  </body>

</html>
