<!--ASIDE-->
<!--===================================================-->
<aside id="aside-container">
    <div id="aside">
        <div class="nano">
            <div class="nano-content">

                <!--Nav tabs-->
                <!--================================-->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#aside-content" data-toggle="tab" id="aside_title_content">
                            <i class="ti-info-alt"></i>
                            Indicators details
                        </a>
                    </li>
                </ul>
                <!--================================-->
                <!--End nav tabs-->


                  <!-- Tabs Content -->
                  <!--================================-->
                  <div class="tab-content">

                      <!--First tab-->
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      <div class="tab-pane fade in active" id="aside-content">
                      </div>
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      <!--End first tab-->


                  </div>


            </div>
        </div>
    </div>
</aside>
<!--===================================================-->
<!--END ASIDE-->
