<!--ASIDE-->
<!--===================================================-->
<aside id="aside-container">
    <div id="aside">
        <div class="nano">
            <div class="nano-content">

                <!--Nav tabs-->
                <!--================================-->
                <ul class="nav nav-tabs nav-justified">
                    <li>
                        <a href="#aside-content_tab1" data-toggle="tab">
                            <i class="ti-info-alt"></i>
                            Specifics Actions
                        </a>
                    </li>
                    <li>
                        <a href="#aside-content_tab2" data-toggle="tab">
                            <i class="ti-settings"></i>
                            All Actions
                        </a>
                    </li>
                </ul>
                <!--================================-->
                <!--End nav tabs-->


                  <!-- Tabs Content -->
                  <!--================================-->
                  <div class="tab-content">

                      <!--First tab-->
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      <div class="tab-pane fade in active" id="aside-content_tab1">
                      </div>
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      <!--End first tab-->


                      <!--Second tab-->
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      <div class="tab-pane fade" id="aside-content_tab2">
                      </div>
                      <!--End second tab-->
                      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


                  </div>


            </div>
        </div>
    </div>
</aside>
<!--===================================================-->
<!--END ASIDE-->
