{% extends "index.html" %}
{% block content %}

<!--Morris.js [ OPTIONAL ]-->
<link href="/static/assets/plugins/morris-js/morris.min.css" rel="stylesheet">
<script src="/static/assets/plugins/morris-js/morris.min.js"></script>
<script src="/static/assets/plugins/morris-js/raphael-js/raphael.min.js"></script>

<!--Bootstrap Table [ OPTIONAL ]-->
<script src="/static/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/tableExport.js"></script>
<link href="/static/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<!--Generic Javascript Function [ OPTIONAL ]-->
<script src="/static/assets/js/generic_js.js"></script>


<script>


// ------------------------------------------------
//--  Get campaigns JSON
// ------------------------------------------------
campaigns = get_all_campaigns();


// ------------------------------------------------
//--  Intilisation campaigns table
// ------------------------------------------------
$(function () {
    output = '<thead><tr><th data-field="state" data-checkbox="true">ID</th>'
    output += '<th data-field="campaign" data-sortable="true">campaign</th>'
    output += '</tr></thead>'

    $('#table-campaign').html(output)

    $('#table-campaign').bootstrapTable({
        data: campaigns
    });

    $('#toolbar-campaign').find('select').change(function () {
        $('#table-campaign').bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });
});



// ------------------------------------------------
//--  Actions when clicking on Show Indicators
// ------------------------------------------------
$(function () {
  $("#show-indicators").click(function () {

    var numberOfSelections = $('#table-campaign').bootstrapTable('getSelections').length;
    var selections = $('#table-campaign').bootstrapTable('getSelections')
    var indicators_selected;



    //--  Indicators table update when clicking on Show Indicators
    // ------------------------------------------------
    $('#table-indicators').bootstrapTable('destroy');
    $('#table-indicators').html("No indicators");

    for (var i = 0; i < numberOfSelections; i++){
      campaign = selections[i]['campaign']
      data = get_indicators_specific_campaign(campaign)
        if (i == 0){
          indicators_selected = data
        } else {
          for (row in data){
            indicators_selected.push(data[row])
          }
        }
      }

      types = []
      output = '<thead><tr><th data-field="state" data-checkbox="true">ID</th>'

      for (var row in indicators_selected){
        for (j in indicators_selected[row]){
          types.push(j)

        }
      }

      types = uniq(types)
      for (row in types){
        output += '<th data-field="'+types[row]+'" data-sortable="true">'+types[row]+'</th>'
      }

      output += '</tr></thead>'

      $('#table-indicators').html(output)

      $('#table-indicators').bootstrapTable('destroy');
      $('#table-indicators').bootstrapTable({ data: indicators_selected });

      $('#toolbar-indicators').find('select').change(function () {
        $('#table-indicators').bootstrapTable('refreshOptions', {
          exportDataType: $(this).val()
        });
      });





    //--  Bar Chart - Number of indicators by campaign when clicking on Show Indicators
    // ------------------------------------------------
    var number_of_indicator_by_type_for_specific_campaign;
    $("#morris-bar").empty();
    $("#morris-donut").empty();

    for (var i = 0; i < numberOfSelections; i++){
      data = get_number_of_indicator_by_node_type_for_specific_campaign(selections[i]['campaign']);
        if (i == 0){
          number_of_indicator_by_type_for_specific_campaign = data
        } else {
            jQuery.extend(number_of_indicator_by_type_for_specific_campaign, data)
        }
    }


    if (numberOfSelections > 0){

      data = []
      ykeys = []
      labels = []

      for (row in number_of_indicator_by_type_for_specific_campaign) {
        tmp = {}
        tmp['y'] = row;
        tmp[row] = number_of_indicator_by_type_for_specific_campaign[row];
        data.push(tmp)
        labels.push(row)
        ykeys.push(row)
      }

       Morris.Bar({
         element: 'morris-bar',
         data: data,
         xkey: 'y',
         ykeys: ykeys,
         labels: labels,
         barColors: colors_node_array,
         grid: false,
         resize:true,
         hideHover: 'auto'
       });
     }

     data = [];
     for (row in number_of_indicator_by_type_for_specific_campaign){
       data.push({label: row, value: number_of_indicator_by_type_for_specific_campaign[row]})
     }

     Morris.Donut({
      element: 'morris-donut',
      data: data,
      colors: colors_node_array,
      resize:true
     });




  });
});


</script>



<!-- #################################################################### -->
<!-- HTML  -->
<!-- #################################################################### -->

<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">

  <!--Page Title-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div id="page-title">
    <h1 class="page-header text-overflow">Campaigns/Investigations</h1>
  </div>

  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">


    <!--First row-->
    <!--===================================================-->
    <div class="row">

      <!-- Campaign Table ->
      <!=================================================== -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Campaigns Table</h3>
        </div>
        <div class="panel-body">
          <div id="toolbar-campaign">
            <select class="form-control">
              <option value="">Export Basic</option>
              <option value="all">Export All</option>
              <option value="selected">Export Selected</option>
            </select>
            <div id="button-toolbar-campaign">
              <button id="delete-row" class="btn btn-danger" disabled><i class="pli-cross"></i> Delete</button>
              <button id="show-indicators" class="btn btn-default"><i class="pli-cross"></i> Show Indicators</button>
            </div>
          </div>
          <table id="table-campaign" class="add-niftycheck"
             data-toolbar="#button-toolbar-campaign"
             data-show-export="true"
             data-search="true"
             data-show-refresh="true"
             data-show-toggle="true"
             data-show-columns="true"
             data-sort-name="id"
             data-page-list="[5, 10, 20, 30, 50, 100]"
             data-page-size="30"
             data-pagination="true"
             data-click-to-select="true"
             data-show-pagination-switch="true">
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Bar chart ->
      <!===================================================-->
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Indicators by campaign</h3>
          </div>
          <div class="panel-body">

            <!--Morris Bar Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-bar" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Indicators by campaign</h3>
          </div>
          <div class="panel-body">

            <!--Morris Bar Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-donut" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
    </div>


    <div class="row">
    <!-- Indicators Table ->
    <!===================================================-->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Indicators Table</h3>
      </div>
      <div class="panel-body">
        <div id="toolbar-indicators">
          <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
          </select>
          <div id="button-toolbar-indicators">
            <button id="delete-row" class="btn btn-danger" disabled><i class="pli-cross"></i> Delete</button>
          </div>
        </div>
        <table id="table-indicators" class="add-niftycheck"
           data-toolbar="#button-toolbar-indicators"
           data-show-export="true"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-sort-name="id"
           data-page-list="[5, 10, 20, 30, 50, 100]"
           data-page-size="30"
           data-pagination="true"
           data-click-to-select="true"
           data-show-pagination-switch="true">
        </table>
      </div>
    </div>

  </div>


  </div>
  <!--===================================================-->
  <!--End page content-->


</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->


{% endblock content %}
