{% extends "index.html" %}
{% block content %}

<!--STYLESHEET-->
<!--=================================================-->


<!--Morris.js [ OPTIONAL ]-->
<link href="/static/assets/plugins/morris-js/morris.min.css" rel="stylesheet">


<!--Morris.js [ OPTIONAL ]-->
<script src="/static/assets/plugins/morris-js/morris.min.js"></script>
<script src="/static/assets/plugins/morris-js/raphael-js/raphael.min.js"></script>


<script src="/static/assets/js/chartist.min.js"></script>
<link href="/static/assets/css/chartist.min.css" rel="stylesheet">

<!--Bootstrap Table [ OPTIONAL ]-->
<script src="/static/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/tableExport.js"></script>

<!--Bootstrap Table [ OPTIONAL ]-->
<link href="/static/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">


<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Indicators</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->



    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">

      <hr class="new-section-sm bord-no">
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
              <div class="panel panel-trans text-center">
              <div class="panel-heading">
                  <h3 class="panel-title">No indicators ...</h3>
              </div>
              <div class="panel-body">
                  <p>Start creating indicators in the graph section ...
                  <br>Please check out the dashboard and other pages.</p>
              </div>
              </div>
          </div>
      </div>
      <!--===================================================-->
      <!-- End Morris Charts -->

    </div>
    <!--===================================================-->
    <!--End page content-->

</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->



{% endblock content %}
