<script src="/static/linkurious/src/sigma.core.js"></script>
<script src="/static/linkurious/src/conrad.js"></script>
<script src="/static/linkurious/src/utils/sigma.utils.js"></script>
<script src="/static/linkurious/src/utils/sigma.polyfills.js"></script>
<script src="/static/linkurious/src/sigma.settings.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.dispatcher.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.configurable.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.graph.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.camera.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.quad.js"></script>
<script src="/static/linkurious/src/classes/sigma.classes.edgequad.js"></script>
<script src="/static/linkurious/src/captors/sigma.captors.mouse.js"></script>
<script src="/static/linkurious/src/captors/sigma.captors.touch.js"></script>
<script src="/static/linkurious/src/renderers/sigma.renderers.canvas.js"></script>
<script src="/static/linkurious/src/renderers/sigma.renderers.webgl.js"></script>
<script src="/static/linkurious/src/renderers/sigma.renderers.svg.js"></script>
<script src="/static/linkurious/src/renderers/sigma.renderers.def.js"></script>
<script src="/static/linkurious/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="/static/linkurious/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="/static/linkurious/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="/static/linkurious/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="/static/linkurious/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="/static/linkurious/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="/static/linkurious/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="/static/linkurious/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="/static/linkurious/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="/static/linkurious/src/misc/sigma.misc.animation.js"></script>
<script src="/static/linkurious/src/misc/sigma.misc.bindEvents.js"></script>
<script src="/static/linkurious/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="/static/linkurious/src/misc/sigma.misc.drawHovers.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.dragNodes/settings.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>
<script src="/static/linkurious/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
<script src="/static/linkurious/plugins/sigma.layouts.forceAtlas2/worker.js"></script>
<script src="/static/linkurious/plugins/sigma.layouts.forceAtlas2/supervisor.js"></script>
<script src="/static/linkurious/plugins/sigma.helpers.graph/sigma.helpers.graph.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.activeState/sigma.plugins.activeState.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.select/sigma.plugins.select.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.keyboard/sigma.plugins.keyboard.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/settings.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="/static/linkurious/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="/static/linkurious/plugins/sigma.plugins.tooltips/sigma.plugins.tooltips.js"></script>

<link rel="stylesheet" type="text/css" href="/static/assets/css/graph.css" media="screen" />
<script src="/static/assets/js/jquery-2.1.4.min.js"></script>
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="/static/assets/js/bootstrap.min.js"></script>
<link href="/static/assets/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="/static/assets/js/bootstrap-dialog.min.js"></script>
<link href="/static/assets/css/ajaxload.css" rel="stylesheet" type="text/css" />

{% extends "index.html" %}
{% block content %}

<!-- #################################################################### -->
<!--  Global variables  -->
<!-- #################################################################### -->
<script>
var all_types;
var all_actions;
var node_selected = {};

</script>




<!-- #################################################################### -->
<!--  Graph configuration  -->
<!-- #################################################################### -->
<div id="graph-container">
</div>
<script>
var i,
    s,
    N = 100,
    E = 500,
    g = {
      nodes: [],
      edges: []
    };


    s = new sigma({
      graph: g,
      renderer: {
        container: document.getElementById('graph-container'),
        type: 'canvas'
      },
      settings: {
        minNodeSize: 8,
        maxNodeSize: 20,
        minEdgeSize: 0.1,
        maxEdgeSize: 1,
        dragNodeStickiness: 0.01,
        borderSize: 2,
        outerBorderSize: 3,
        defaultNodeBorderColor: '#fff',
        defaultNodeOuterBorderColor: 'rgb(236, 81, 72)',
        edgeHoverHighlightNodes: 'circle',
        enableEdgeHovering: true,
        edgeHoverSizeRatio:3,
        defaultLabelSize:8,
        zoomingRatio:1.2
      }
    });


    var config = {
      node: [{
        show: 'clickNode',
        position: 'top',
        autoadjust: true,
        renderer: function(node) {
          node_selected = node
          node.degree = this.degree(node.id);
          output = '<div class="arrow"></div>' +
          ' <div class="sigma-tooltip-header">Type: '+node.properties['type']+'</div>' +
          '  <div class="sigma-tooltip-body">' +
          '    <table>' +
          '      <tr><th>Id:</th><td>'+node.id+'</td></tr>' +
          '      <tr><th>Value: </th> <td>'+node.label+'</td></tr>' +
          '    </table>' +
          '  </div>' +
          '  <div class="sigma-tooltip-footer">Number of connections: '+node.degree+'</div>' +
          '  <div class="sigma-tooltip-footer">' +
          '   <button type="button" id="delete_node" value="'+node.id+'">Delete Node</button>' +
          '  </div>'
          return output
        }

      }, {
          show: 'rightClickNode',
          cssClass: 'sigma-tooltip',
          position: 'right',
          autoadjust: true,
          renderer: function(node) {
            node_selected = node
            actions = "";
            type = node['properties']['type'].toLowerCase();
            var actions = "";
            for (var row in all_actions[type]) {
              actions += '<tr><th></th><td><a href="#" id="link-actions">'+all_actions[type][row]+'</a></td></tr>'
            }
            output = '<div class="arrow"></div>' +
            ' <div class="sigma-tooltip-header">Actions available</div>' +
            '  <div class="sigma-tooltip-body">' +
            '    <table>' +
                  actions
            '    </table>' +
            '  </div>'
            return output
          }
      }],
      stage: {
        renderer: function() {
          output = '<div class="arrow"></div>' +
          ' <div class="sigma-tooltip-header">Menu</div>' +
          '  <div class="sigma-tooltip-body">' +
          '    <table>' +
          '      <tr><th id="add_node"><a href="#">Add a node</a></th><td></td></tr>' +
          '    </table>' +
          '  </div>' +
          '  <div class="sigma-tooltip-footer"></div>'
          return output
        }
      }
    };

</script>



<!-- #################################################################### -->
<!--  Sigma JSON Parser  -->
<!-- #################################################################### -->

<script>

function sigma_json_parser(){

    var color = {
              "edges":"#A5ABB6",
              "ip":"#FF756E",
              "domain":"#DE9BF9"
            }

    var count = {
              "count":0,
              "relation":0,
              "ip":0,
              "domain":0
            }

    //
    // Get Neo4j JSON and parse it
    //
    sigma.parsers.json(
       '/neo4jJson',
       s,
       function() {
           var i,
           nodes = s.graph.nodes();
           edges = s.graph.edges();
           len_nodes = nodes.length;
           len_edges = edges.length;

           for (i = 0; i < len_nodes; i++) {
              count["count"] += 1;
               if(nodes[i].properties['type'] == "ip"){
                 nodes[i].color = color.ip
                 count["ip"] += 1;
               }
               else if (nodes[i].properties['type']== "domain") {
                 nodes[i].color = color.domain
                 count["domain"] += 1;
               }
               nodes[i].size = s.graph.degree(nodes[i].id);
           }

           for (i = 0; i < len_edges; i++) {
               edges[i].label = edges[i].type
               edges[i].size = 0.2
               edges[i].color = color.edges
               count['relation'] += 1;
           }

           // Refresh the display:
           s.refresh();

           // ForceAtlas Layout
           s.startForceAtlas2({gravity:100,scalingRatio:70,slowDown:1000000});
           setTimeout(function(){s.stopForceAtlas2();},1000);

           cornerSidebarRelations = '<ul><li><a href="#">Relation('+count["relation"]+')</a></li>'

           cornerSidebarNodes = '<li><a href="#">Nodes('+count["count"]+')</a></li>'
           cornerSidebarNodes += '<li><a href="#">Ip('+count["ip"]+')</a></li>'
           cornerSidebarNodes += '<li><a href="#">Domain('+count["domain"]+')</a></li></ul>'
           $("#cornerbottomright").html(cornerSidebarRelations+cornerSidebarNodes);
         }
    );

    // Instanciate the ActiveState plugin:
    var activeState = sigma.plugins.activeState(s);
    // Initialize the dragNodes plugin:
    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0], activeState);

    // Instanciate the tooltips plugin with a Mustache renderer for node tooltips:
    var tooltips = sigma.plugins.tooltips(s, s.renderers[0], config);

}

sigma_json_parser()

</script>





<!-- #################################################################### -->
<!--  Refresh function  -->
<!-- #################################################################### -->
<script>

function refresh_graph(){
  ajax_function("get_all_actions","GET", false, "").done(function(json) {
   all_actions = json;
  });
  ajax_function("get_all_types","GET", false, "").done(function(data) {
   all_types = data;
  });
  s.refresh()
}

</script>



<!-- #################################################################### -->
<!--  Used for showing the loading gif  -->
<!-- #################################################################### -->
<script>


$body = $("body");
$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
    ajaxStop: function() { $body.removeClass("loading"); }
});

ajax_function = function(uri, method, data, async) {
  var request = {
      url: uri,
      type: method,
      //contentType: "application/json",
      //accepts: "application/json",
      cache: false,
      async: true,
      dataType: 'json',
      data: data,
  };
  return $.ajax(request);
}

</script>
<div class="ajaxload"></div>




<!-- #################################################################### -->
<!--  Get the whole list of actions available  -->
<!-- #################################################################### -->
<script>
ajax_function("get_all_actions","GET", false, "").done(function(json) {
 all_actions = json;
});
</script>


<!-- #################################################################### -->
<!--  Get the whole list of types  -->
<!-- #################################################################### -->
<script>
ajax_function("get_all_types","GET", false, "").done(function(data) {
 all_types = data
});
</script>



<!-- #################################################################### -->
<!--  Modal when receiving result from an action -->
<!-- #################################################################### -->
<script>
$(document).on('click', '#link-actions', function() {
  ajax_function("action","GET", "action="+$(this).text()+"&input="+node_selected.label).done(function(data) {
    var result = ""
    json_result = JSON.parse(data).json_result['0']
    for (var key in json_result) {
        result += key+": "+json_result[key]+"<br>"
    }
    $("#modal-actions-content").html(result);
    $('#modal-actions').modal('show')
    $(".modal-backdrop").removeClass();
  });
});
</script>
<div id="modal-actions" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      </div>
      <div id="modal-actions-content" class="modal-body">
      </div>
      <div class="modal-footer">
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- #################################################################### -->
<!--  Delete node -->
<!-- #################################################################### -->
<script>

$(document).on('click', '#delete_node', function() {
  BootstrapDialog.confirm({
    title: 'WARNING',
    message: 'Are you sure you want to delete the node ?',
    type: BootstrapDialog.TYPE_DANGER,
    closable: true,
    draggable: true,
    btnCancelLabel: 'Cancel!',
    btnOKLabel: 'Delete!',
    btnOKClass: 'btn-warning',
    callback: function(result) {
        if(result) {
          ajax_function("delete_node","POST", 'id='+$("#delete_node").val()).complete(function(json) {
            refresh_graph();
            sigma_json_parser();
          });
        }
    }
  });
});
</script>


<!-- #################################################################### -->
<!--  Modal when adding a node -->
<!-- #################################################################### -->
<script>
$(document).on('click', '#add_node', function() {
  BootstrapDialog.show({
    title: 'New node',
    draggable: true,
    message: function(dialog){
      var output = "";
      for (var row in all_types) {
          output += '<option data-value="'+row+'" value="'+row+'"  />';
      }
      var $message = $(`
      <form>
        <div class="form-group">
          <label class="control-label">Type:</label>
          <div class="btn-group dropdown">
            <input list="types" type="search" placeholder="Pick a type ..." id="modal-add_node-content">
            <datalist id="types">`+output+`</datalist>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Value:</label>
          <textarea class="form-control" id="message-text"></textarea>
        </div>
      </form>
      `);
      return $message;
    },
    buttons: [{
      icon: 'glyphicon glyphicon-send',
      label: 'Add new node',
      cssClass: 'btn-primary',
      action: function(dialogRef){
        dialogRef.close();
        ajax_function("add_node","POST", 'type='+$('#types [value="' + $('#modal-add_node-content').val() + '"]').data('value')+'&value='+$('#message-text').val()).complete(function(json) {
          refresh_graph();
          sigma_json_parser()
        });
      }
    }, {
      label: 'Close',
      action: function(dialogRef){
      dialogRef.close();
      }
    }]
  });
});

$(document).on('click', '.dropdown-menu li a', function() {
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

</script>

<script type="text/javascript">
$(function(){
    $('#input').change(function(){
        var abc = $("#types option[value='" + $('#input').val() + "']").attr('data-id');
        alert(abc);
    });
});
</script>

{% endblock content %}
