
<script src="/static/sigma/sigma.min.js"></script>
<script src="/static/sigma/plugins/sigma.exporters.svg.min.js"></script>
<script src="/static/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
<script src="/static/sigma/plugins/sigma.neo4j.cypher.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.cypher.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.gexf.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.json.min.js"></script>
<script src="/static/sigma/plugins/sigma.pathfinding.astar.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.animate.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.dragNodes.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.filter.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.relativeSize.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.customEdgeShapes.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.customShapes.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.edgeLabels.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.parallelEdges.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.snapshot.min.js"></script>
<script src="/static/sigma/plugins/sigma.statistics.HITS.min.js"></script>



<style>
    #graph-class {
      position: relative;
      width: 95%;
      height: 70%;
    }
  </style>
  <div id="graph-class" class="col-md-12">

  </div>



<script type="application/javascript">

// these are just some preliminary settings
var i,
s,
img,
N = 10,
E = 50,
g = {
  nodes: [],
  edges: []
},
urls = [
  'https://github.com/jacomyal/sigma.js/tree/master/examples/img/img1.png',
  'https://github.com/jacomyal/sigma.js/tree/master/examples/img/img2.png',
  'https://github.com/jacomyal/sigma.js/tree/master/examples/img/img3.png',
  'https://github.com/jacomyal/sigma.js/tree/master/examples/img/img4.png'
],
colors = [
  '#617db4',
  '#668f3c',
  '#c6583e',
  '#b956af'
];
   // Create new Sigma instance in graph-class div (use your div name here)
   s = new sigma({
   graph: g,
   container: 'graph-class',
   renderer: {
      container: document.getElementById('graph-class'),
      type: 'canvas'
   },
   settings: {
     minNodeSize: 8,
     maxNodeSize: 16,
     minEdgeSize: 0.1,
     maxEdgeSize: 2,
     enableEdgeHovering: true,
     edgeHoverSizeRatio:3
     //doubleClickEnabled: false,
     //edgeHoverExtremities: true
   }
   });


   var transform_table;
   $.getJSON("transform_table", function(json){
       transform_table = json;
   });



   // first you load a json with (important!) s parameter to refer to the sigma instance

   sigma.parsers.json(
        '/graph',
        s,
        function() {
            // this below adds x, y attributes as well as size = degree of the node
            var i,
                    nodes = s.graph.nodes(),
                    edges = s.graph.edges()
                    len_nodes = nodes.length;
                    len_edges = edges.length;

            for (i = 0; i < len_nodes; i++) {
                nodes[i].x = Math.random();
                nodes[i].y = Math.random();


                if(nodes[i].labels[0] == "Movie"){
                  nodes[i].color = '#ffa31a';
                }
                else{
                  nodes[i].color = '#e60000';
                }

                if(nodes[i].properties['name']){
                  nodes[i].label = nodes[i].properties['name']
                }else{
                  nodes[i].label = nodes[i].properties['title']
                }
                nodes[i].size = s.graph.degree(nodes[i].id);

            }

            for (i = 0; i < len_edges; i++) {
                edges[i].label = edges[i].type
                edges[i].size = 0.2
            }

            // Refresh the display:
            s.refresh();

            // ForceAtlas Layout
            //s.startForceAtlas2({gravity:100,scalingRatio:70,slowDown:1000000});
            //setTimeout(function(){s.stopForceAtlas2();},1000);
        }
   );

   // Initialize the dragNodes plugin:
   var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);


  s.bind('clickNode', function(e) {
    //console.log(e.type, e.data.captor);
    var nodeIdx = e.data.node.id;
    var nodes = s.graph.nodes();
    nodes.forEach(function(node){
      if (nodeIdx === node.id) {
        var properties = node.labels[0]+"<br>"
        for (var i in node.properties){
            properties+=i+": "+node.properties[i]+"<br>"
        }
        var type = node.labels[0];
        var actions = "";
        for (var row in transform_table[type]) {
          actions += '<button id="actions" type="button" class="btn btn-primary" data-toggle="modal" data-target=".actions-'+transform_table[type][row]+'">'+transform_table[type][row]+'</button>'
          actions += '<div class="modal fade actions-'+transform_table[type][row]+'" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">'
          actions += '<div class="modal-dialog modal-lg" role="document">'
          actions += '<div class="modal-content">'
          actions += '...'
          actions += '</div>'
          actions += '</div>'
          actions += '</div>'
          actions += '<br><br>'
        }
        var output = properties+"<br><br><h3>Actions</h3>"+actions
        $("#side-description").html(output);
      }


    });
  });


  ajax_function = function(uri, method, data) {
  var request = {
      url: uri,
      type: method,
      contentType: "application/json",
      accepts: "application/json",
      cache: false,
      dataType: 'json',
      data: JSON.stringify(data),
      beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization",
              "Basic " + btoa(self.username + ":" + self.password));
      },
      error: function(jqXHR) {
          console.log("ajax error " + jqXHR.status);
      }
  };
  return $.ajax(request);
}


  $(document).on('click', 'button#actions.btn.btn-primary', function() {
    ajax_function("action","GET")
  });






</script>
