
<script src="/static/sigma/sigma.min.js"></script>
<script src="/static/sigma/plugins/sigma.exporters.svg.min.js"></script>
<script src="/static/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
<script src="/static/sigma/plugins/sigma.neo4j.cypher.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.cypher.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.gexf.min.js"></script>
<script src="/static/sigma/plugins/sigma.parsers.json.min.js"></script>
<script src="/static/sigma/plugins/sigma.pathfinding.astar.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.animate.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.dragNodes.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.filter.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>
<script src="/static/sigma/plugins/sigma.plugins.relativeSize.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.customEdgeShapes.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.customShapes.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.edgeLabels.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.parallelEdges.min.js"></script>
<script src="/static/sigma/plugins/sigma.renderers.snapshot.min.js"></script>
<script src="/static/sigma/plugins/sigma.statistics.HITS.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/ajaxload.css" media="screen" />


<style>
  #graph-class {
    position: relative;
    width: 95%;
    height: 100%;
  }
</style>
<div id="graph-class" class="col-md-12"></div>



<script type="application/javascript">

  var node_selected;

  //
  //
  //
  ajax_function = function(uri, method, data, async) {
    var request = {
        url: uri,
        type: method,
        //contentType: "application/json",
        //accepts: "application/json",
        cache: false,
        async: true,
        dataType: 'json',
        data: data,
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization",
                "Basic " + btoa(self.username + ":" + self.password));
        },
        error: function(jqXHR) {
            console.log("ajax error " + jqXHR.status);
        }
    };
    return $.ajax(request);
  }


  //
  // Create new Sigma instance in graph-class div
  //
  g = {
    nodes: [],
    edges: []
  };

  s = new sigma({
    graph: g,
    container: 'graph-class',
    renderer: {
      container: document.getElementById('graph-class'),
      type: 'canvas'
    },
    settings: {
     minNodeSize: 8,
     maxNodeSize: 30,
     minEdgeSize: 0.1,
     maxEdgeSize: 1,
     enableEdgeHovering: true,
     edgeHoverSizeRatio:3
     //doubleClickEnabled: false,
     //edgeHoverExtremities: true
   }
 });



 //
 // Get Neo4j JSON and parse it
 //
 sigma.parsers.json(
    '/neo4jJson',
    s,
    function() {
        var i,
        color_ip = "#FF756E"
        color_domain = "#DE9BF9"
        color_edges = "#A5ABB6"
        nodes = s.graph.nodes();
        edges = s.graph.edges();
        len_nodes = nodes.length;
        len_edges = edges.length;

        for (i = 0; i < len_nodes; i++) {

            nodes[i].label = nodes[i].properties['value']

            if(nodes[i].labels[0] == "Ip"){
              nodes[i].color = color_ip
            }
            else if (nodes[i].labels[0] == "Domain") {
              nodes[i].color = color_domain;
            }

            nodes[i].size = s.graph.degree(nodes[i].id);

        }

        for (i = 0; i < len_edges; i++) {
            edges[i].label = edges[i].type
            edges[i].size = 0.2
            edges[i].color = color_edges
        }

        // Refresh the display:
        s.refresh();

        // ForceAtlas Layout
        //s.startForceAtlas2({gravity:100,scalingRatio:70,slowDown:1000000});
        //setTimeout(function(){s.stopForceAtlas2();},1000);
      }
 );



 //
 // Initialize the dragNodes plugin
 //
 var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);



 //
 // Get Actions Listing table JSON
 //
var actionsListing;
ajax_function("getActionListing","GET", false, "").done(function(json) {
  actionsListing = json;
});


 //
 // Write properties and actions on sidebar
 //
 s.bind('clickNode', function(e) {
   node_selected = e.data.node
   var nodeIdx = e.data.node.id;
   var nodes = s.graph.nodes();
   nodes.forEach(function(node){
     if (nodeIdx === node.id) {
       var properties = node.labels[0]+"<br>"
       for (var i in node.properties){
           properties+=i+": "+node.properties[i]+"<br>"
       }
       var type = node.labels[0].toLowerCase();
       var actions = "";
       for (var row in actionsListing[type]) {
         actions += '<button type="button" id="button-actions" class="btn btn-primary" data-toggle="modal" value='+actionsListing[type][row]+'>'+actionsListing[type][row]+'</button>'
         actions += '<br><br>'
       }
       var output = properties+"<br><br><h3>Actions</h3>"+actions
       $("#side-description").html(output);
     }
   });
 });



  $(document).on('click', '#button-actions', function() {
    ajax_function("action","GET", "action="+$(this).val()+"&input="+node_selected.label).done(function(data) {
      var result = ""
      json_result = JSON.parse(data).json_result['0']
      for (var key in json_result) {
          result += key+": "+json_result[key]+"<br>"
      }
      $("#modal-actions-content").html(result);
      $('#modal-actions').modal('show')
    });

  });


  $body = $("body");
  $(document).on({
      ajaxStart: function() { $body.addClass("loading");    },
      ajaxStop: function() { $body.removeClass("loading"); }
  });






</script>

<div id="modal-actions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div id="modal-actions-content" class="modal-content">
      </div>
  </div>
</div>



<div class="ajaxload"></div>
