<!DOCTYPE html>
<html lang="en">
  <head>
		{% include 'header.html' %}
	</head>
	<body>
		<div class="wrapper">
			{% include 'sidebar.html' %}
    		<div class="main-panel">
					{% include 'topbar.html' %}
					<div class="content" id="graph-div">
						{% block content %}{% endblock %}
					</div>
					{% include 'footer.html' %}
    	</div>
		</div>
	</body>

  <!--   Core JS Files   -->
	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/assets/js/chartist.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/bootstrap-notify.js"></script>

  <!--  Google Maps Plugin    -->
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets/js/light-bootstrap-dashboard.js"></script>

</html>
