<!DOCTYPE html>
<html lang="en">
  <head>
		{% include 'header.html' %}
	</head>

  <body>
    <div id="container" class="effect mainnav-sm footer-fixed">
      {% include 'navbar.html' %}

        <div class="boxed">
          {% block content %}{% endblock %}
          {% include 'sidebar.html' %}
          {% include 'aside.html' %}
        </div>

        {% include 'footer.html' %}


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->

    </div>

  </body>

</html>
