{% extends "index.html" %}
{% block content %}

<!--Morris.js [ OPTIONAL ]-->
<link href="/static/assets/plugins/morris-js/morris.min.css" rel="stylesheet">
<script src="/static/assets/plugins/morris-js/morris.min.js"></script>
<script src="/static/assets/plugins/morris-js/raphael-js/raphael.min.js"></script>


<!--Bootstrap Table [ OPTIONAL ]-->
<script src="/static/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/extensions/export/tableExport.js"></script>
<link href="/static/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<!--Generic Javascript Function [ OPTIONAL ]-->
<script src="/static/assets/js/generic_js.js"></script>



<script>

ajax_function("table_nodes","GET", false, false).done(function(json) {
  data = json
});



$(function () {
    types = []
    output = '<thead><tr><th data-field="state" data-checkbox="true">ID</th>'

    for (var row in data){
      for (i in data[row]){
        types.push(i)

      }
    }

    types = uniq(types)
    for (row in types){
      output += '<th data-field="'+types[row]+'" data-sortable="true">'+types[row]+'</th>'
    }

    output += '</tr></thead>'

    $('#table').html(output)

    $('#table').bootstrapTable({
        data: data
    });

    $('#toolbar').find('select').change(function () {
        $('#table').bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });

});


</script>


<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">

  <!--Page Title-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div id="page-title">
    <h1 class="page-header text-overflow">Indicators</h1>
  </div>

  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">

    <div class="row">
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Bar - Indicators by type</h3>
          </div>
          <div class="panel-body">

            <!--Morris Bar Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-bar" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Pie - Indicators by type</h3>
          </div>
          <div class="panel-body">

            <!--Morris Donut Chart placeholder -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="morris-donut" style="height:212px"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
      </div>
    </div>


    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Indicators Table</h3>
      </div>
      <div class="panel-body">
        <div id="toolbar">
          <button id="delete-row" class="btn btn-danger" disabled><i class="pli-cross"></i> Delete</button>
          <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
          </select>
        </div>
        <table id="table" class="add-niftycheck"
           data-toolbar="#delete-row"
           data-show-export="true"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-sort-name="id"
           data-page-list="[5, 10, 20, 30, 50]"
           data-page-size="30"
           data-pagination="true"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           data-show-pagination-switch="true">
        </table>
      </div>
    </div>


  </div>
    <!--===================================================-->
    <!--End page content-->


</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->



<script>


$(document).ready(function() {


  colors = [
            "#A5ABB6",
            "#FF756E",
            "#DE9BF9",
            "#68BDF6",
            "#6DCE9E",
            "#FFD86E",
            "#FF756E",
            "#FB95AF",
            "#A5ABB6"
          ]


  // #################################################################### -->
  //  Bar Chart - Number of indicators by type  -->
  // #################################################################### -->


  data = []
  ykeys = []
  labels = []
  {% for row in number_of_indicator_by_type %}
    data.push({y: "{{ row }}",  "{{ row }}": "{{ number_of_indicator_by_type[row] }}"})
    labels.push("{{ row }}")
    ykeys.push("{{ row }}")
  {% endfor %}


   Morris.Bar({
       element: 'morris-bar',
       data: data,
       xkey: 'y',
       ykeys: ykeys,
       labels: labels,
       barColors: colors,
       grid: false,
       resize:true,
       hideHover: 'auto'
   });




  // #################################################################### -->
  //  Donut Chart - Number of indicators by type  -->
  // #################################################################### -->

    data = [
          {% for row in number_of_indicator_by_type %}
            {label: "{{ row }}", value: "{{ number_of_indicator_by_type[row] }}"},
          {% endfor %}
          ]

    console.log(data);

    Morris.Donut({
        element: 'morris-donut',
        data: data,
        colors: colors,
        resize:true
    });


});


</script>



{% endblock content %}
