<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">
                      <!--Category name-->
                      <li class="list-header">
                        Link List
                      </li>

                      <!--Menu list item-->
                      <li class="active-link">
                          <a href="#">
                              <i class="ti-game"></i>
                              <span class="menu-title">
                                Active state
                              </span>
                          </a>
                      </li>

                      <!--Menu list item-->
                      <li>
                          <a href="#">
                              <i class="ti-alarm-clock"></i>
                              <span class="menu-title">
                                  Bolder
                              </span>
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
