<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">

                      <!--Menu list item-->
                      <li>
                          <a href="/">
                              <i class="demo-psi-home"></i>
                              <span class="menu-title">
                                Indicators
                              </span>
                          </a>
                      </li>

                      <!--Menu list item-->
                      <li>
                          <a href="/campaigns.html">
                              <i class="psi-cpu"></i>
                              <span class="menu-title">
                                Campaigns
                              </span>
                          </a>
                      </li>

                      <!--Menu list item-->
                      <li>
                          <a href="graph.html">
                              <i class="demo-psi-repair"></i>
                              <span class="menu-title">
                                <strong>Graph</strong>
                              </span>
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->
