#graph-container {
  position: relative;
  width: 100%;
  height:89%;
}
@media (max-height: 1174px) {
  #graph-container {
    width: 98%;
    height:88%;
  }
}
@media (max-height: 1080px) {
  #graph-container {
    width: 98%;
    height:87%;
  }
}
@media (max-height: 990px) {
  #graph-container {
    width: 98%;
    height:86%;
  }
}
@media (max-height: 890px) {
  #graph-container {
    width: 98%;
    height:84%;
  }
}
@media (max-height: 810px) {
  #graph-container {
    width: 98%;
    height:82%;
  }
}
@media (max-height: 720px) {
  #graph-container {
    width: 98%;
    height:80%;
  }
}
@media (max-height: 650px) {
  #graph-container {
    width: 98%;
    height:78%;
  }
}
@media (max-height: 590px) {
  #graph-container {
    width: 98%;
    height:76%;
  }
}
@media (max-height: 556px) {
  #graph-container {
    width: 98%;
    height:74%;
  }
}
@media (max-height: 520px) {
  #graph-container {
    width: 98%;
    height:72%;
  }
}
@media (max-height: 470px) {
  #graph-container {
    width: 98%;
    height:70%;
  }
}
@media (max-height: 445px) {
  #graph-container {
    width: 98%;
    height:68%;
  }
}
@media (max-height: 415px) {
  #graph-container {
    width: 98%;
    height:66%;
  }
}



#graph-div {
    padding: 5px 3px;
}
