#graph-container {
  position: relative;
  width: 100%;
  height:89%;
}
@media (max-height: 1174px) {
  #graph-container {
    width: 98%;
    height:88%;
  }
}
@media (max-height: 1080px) {
  #graph-container {
    width: 98%;
    height:87%;
  }
}
@media (max-height: 990px) {
  #graph-container {
    width: 98%;
    height:86%;
  }
}
@media (max-height: 890px) {
  #graph-container {
    width: 98%;
    height:84%;
  }
}
@media (max-height: 810px) {
  #graph-container {
    width: 98%;
    height:82%;
  }
}
@media (max-height: 720px) {
  #graph-container {
    width: 98%;
    height:80%;
  }
}
@media (max-height: 650px) {
  #graph-container {
    width: 98%;
    height:78%;
  }
}
@media (max-height: 590px) {
  #graph-container {
    width: 98%;
    height:76%;
  }
}
@media (max-height: 556px) {
  #graph-container {
    width: 98%;
    height:74%;
  }
}
@media (max-height: 520px) {
  #graph-container {
    width: 98%;
    height:72%;
  }
}
@media (max-height: 470px) {
  #graph-container {
    width: 98%;
    height:70%;
  }
}
@media (max-height: 445px) {
  #graph-container {
    width: 98%;
    height:68%;
  }
}
@media (max-height: 415px) {
  #graph-container {
    width: 98%;
    height:66%;
  }
}



#graph-div {
    padding: 5px 3px;
}


.sigma-tooltip {
  max-width: 240px;
  max-height: 280px;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 6px;
}
.sigma-tooltip-header {
  font-variant: small-caps;
  font-size: 120%;
  color: #437356;
  border-bottom: 1px solid #aac789;
  padding: 10px;
}
.sigma-tooltip-body {
  padding: 10px;
}
.sigma-tooltip-body th {
  color: #999;
  text-align: left;
}
.sigma-tooltip-footer {
  padding: 10px;
  border-top: 1px solid #aac789;
}
.sigma-tooltip > .arrow {
  border-width: 10px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.sigma-tooltip.top {
  margin-top: -12px;
}
.sigma-tooltip.top > .arrow {
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  border-top-color: rgb(249, 247, 237);
  border-bottom-width: 0;
}
.sigma-tooltip.bottom {
  margin-top: 12px;
}
.sigma-tooltip.bottom > .arrow {
  left: 50%;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: rgb(249, 247, 237);
  border-top-width: 0;
}
.sigma-tooltip.left {
  margin-left: -12px;
}
.sigma-tooltip.left > .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-left-color: rgb(249, 247, 237);
  border-right-width: 0;
}
.sigma-tooltip.right {
  margin-left: 12px;
}
.sigma-tooltip.right > .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: rgb(249, 247, 237);
  border-left-width: 0;
}
