body {
    background-color: #F7F7F8;
}

#content-container {
    background-color: #F7F7F8;
}

.ct-label {
    fill: rgba(0,0,0,.4);
    color: rgba(0,0,0,.4);
    font-size: 1.2rem;
    line-height: 1;
}


#navbar_dropdown_menu{
  max-width: 400px;
}


#aside {
  background-color: #F7F7F8;
}



#type-css-settings {
  font-weight: 600;
  padding: 0 20px 0 20px;
  font-size: 1em;
  color: inherit;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom:1px dashed;
  margin-top:0;
  margin-bottom: 0;

}

@media (min-width: 768px) {
  div#psi-frog.brand-icon.psi-frog {
    width: 40px;
    height: 40px;
    margin: 0 17px;
    transform: translateY(0);
  }
}

.psi-frog {
    color: #abb1b7;
}


#psi-frog {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 20px;
}
